*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
} /*si ponermos el * en vez de body, el logo se modifica*/
/*AQUI EMPIEZA LA NAV BAR*/
.logo {
  position: absolute;
  z-index: 1;
}

.logo img{
  width:160px;
  height: auto;
  padding-left: 4em; /*Para dar margen izquierdo al logo*/
  margin-top: 8%;
}

@media screen and (max-width: 768px) {
  .logo {
      display: none; /* Oculta el logo en pantallas más grandes */
  }
}
img {
  max-width: 100%; /*lo hacemos para evitar que la imagen se desborde*/
}

.toggle-menu{
  position: absolute;/*Para que pierda su contenido en el flujo con esto ya puedo usar z index*/
  top:0.5rem;
  right: 1.5rem;
  cursor: pointer;
  /*filter: invert(1);  esto es solo si quisiera cambiar de color a blanco el menu hamurguesa*/
  width: 40px;
  z-index: 1;
}

@media screen and (min-width:768px) {
  .toggle-menu{
      display: none;
  }
}

.main-menu{
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#EB4138;
  transition: transform 0.3s; /*Es la mejor forma de animar el ccs, nunca con padding ni margin!*/
  transform: translateY(-100%);
}

.main-menu--show{
  transform: translateY(0); /*con esto consigo que el menu se quede en el centro*/
} /*Esta es la clase que vamos a cambiar desde javascript para que se muestre el menu clickando en el menu hamburguesa*/

@media screen and (min-width:768px) {
  .main-menu{
      flex-direction: row;
      justify-content: flex-end;
      transform: translateY(0); /*Esto lo pongo para que semustre mimenu aunque en el modo menu hamburguesa para l movil lo haya ocultado*/
      height: 100px; /*la altura de mi navbar*/
      padding-right: 4em;/* para dar margen derecho a Contacto*/
  }
}

.main-menu_item{
  padding: 1em;
  font-family: 'Merriweather', serif;
}

.main-menu_link{
  color:black;
  text-decoration: none;
}

/*AQUI TERMINA LA NAV BAR*/


/*CSS ABOUT US-----------------------------------------------------*/

.about-us_content{
margin-top: 10%;
}

.about-us_content h1{
font-family: 'Montserrat', sans-serif;
font-size: 40px;
margin-bottom: 60px;
text-align: center;
margin: 3em;
margin-bottom: -30;
}

.palabra-destacada{
font-weight: bold ;
color:#FAC348;
}

.team{
display: flex;
justify-content: center;
width: auto;
text-align: center;
flex-wrap: wrap;
padding-top: 140px;
}

.team .team_member{
font-family: 'Montserrat', sans-serif;

background:#FAC348;
margin: 15px;
margin-bottom: 100px;
width: 600px; /*Esto estaba en 300*/
padding: 20px;
line-height: 20px;/*Espaciado entre lineas*/
color: white;  
position: relative;
}

.team .team_member h3{
color:#EB4138;
font-family: 'Montserrat', sans-serif;
font-size: 26px;
margin-top: 50px;
margin-left: 6em;
}

.team .team_member p.role{
color: #F06292;
font-family: 'Merriweather', serif;
margin: 12px 0;
font-size: 15px;
margin-left: 10em;
}

.team .team_member p.description{
margin-left: 15em;
}

.team .team_member .team_img{
position: absolute;
top: -121px;
left: 20%; /*Con 50%se queda la imagen en el medio*/
transform: translateX(-50%);
width: 250px;
border-radius: 50%;/**No necesito esto*/
/*background: #fff; Fondo de la imagen*/
}

.team .team_member .team_img img{
width: 300px; /*width y height*/
height: 400px;
padding: 5px;
}

.team .team_member .team_img-left{
position: absolute;
top: -80px;
left: 85%; /*Con 50%se queda la imagen en el medio*/
transform: translateX(-50%);
width: 150px;
/*background: #fff; Fondo de la imagen*/
}

.team .team_member .team_img-left{
width: 400px; /*width y height*/
height: 300px;
padding: 8px;
top:-66px;
padding-right: 2em;
}

.team_img-left .julio{
margin-top: 5px;
max-width: 650px; /*width y height*/
height: 287px;
margin-left: -183px;
}

.left-text{
position: relative;
margin-right: 8em;
z-index: 2;
}

/*FIN CSS ABOUT US*/

/* footer */
footer {
background-color: #EB4138;
text-align: center;
height: 25vh;
}

.social-icons {
margin-top: 2vh;
}

.hr {
width: 80%;
margin: 2% auto;
color: #FFF;
}

.copyright {
font-family: "Montserrat", sans-serif;
font-size: 1rem;
font-style: normal;
color: #FFF;
}

