*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
} /*si ponermos el * en vez de body, el logo se modifica*/
/*AQUI EMPIEZA LA NAV BAR*/
.logo {
  position: absolute;
  z-index: 1;
}

.logo img{
  width:160px;
  height: auto;
  padding-left: 4em; /*Para dar margen izquierdo al logo*/
  margin-top: 8%;
}

@media screen and (max-width: 768px) {
  .logo {
      display: none; /* Oculta el logo en pantallas más grandes */
  }
}
img {
  max-width: 100%; /*lo hacemos para evitar que la imagen se desborde*/
}

.toggle-menu{
  position: absolute;/*Para que pierda su contenido en el flujo con esto ya puedo usar z index*/
  top:0.5rem;
  right: 1.5rem;
  cursor: pointer;
  /*filter: invert(1);  esto es solo si quisiera cambiar de color a blanco el menu hamurguesa*/
  width: 40px;
  z-index: 1;
}

@media screen and (min-width:768px) {
  .toggle-menu{
      display: none;
  }
}

.main-menu{
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#EB4138;
  transition: transform 0.3s; /*Es la mejor forma de animar el ccs, nunca con padding ni margin!*/
  transform: translateY(-100%);
}

.main-menu--show{
  transform: translateY(0); /*con esto consigo que el menu se quede en el centro*/
} /*Esta es la clase que vamos a cambiar desde javascript para que se muestre el menu clickando en el menu hamburguesa*/

@media screen and (min-width:768px) {
  .main-menu{
      flex-direction: row;
      justify-content: flex-end;
      transform: translateY(0); /*Esto lo pongo para que semustre mimenu aunque en el modo menu hamburguesa para l movil lo haya ocultado*/
      height: 100px; /*la altura de mi navbar*/
      padding-right: 4em;/* para dar margen derecho a Contacto*/
  }
}

.main-menu_item{
  padding: 1em;
  font-family: 'Merriweather', serif;
}

.main-menu_link{
  color:black;
  text-decoration: none;
}

/*AQUI TERMINA LA NAV BAR*/
 
/*INSTRUMENT*/
body {
    text-align: center;
}

img{
  margin-top: 5%;
}
h1{
    font-size: 50px;
    width: 99%;
    margin-top: 100px;
    margin-left: 40px;
}


.colorido{
    color:#FAC348 ;
}

.vol,
.tran,
.not {
    font-size: 30px;
}

.key {
    height: 200px;
    width: 100%;
    border: 1px solid #000;
    cursor: pointer;
    margin: 2px;
}

.white {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
}

.black {
    background-color: #000;
    height: 120px;
    width: 30%;
    position: relative;
    margin-left: -15px;
    margin-right: -20px;
    z-index: 1;
}


/* ... (Código anterior) ... */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 10px;
    border-radius: 20px;
    padding: -20%;
    background-color: black;
    color: #a2a2a2;
}

#piano {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-wrap: nowrap;
    width: 60%;
    /* Ajusta el ancho del piano igual al del wrapper */
}


/* ... (Resto del código) ... */

 /*Empiezo descripciones*/
.vol {
    font-size: 30px;
}

.tran{
    font-size: 30px;
}

.not{
    font-size: 30px;
    position: relative;
    right:40px;
}

.titulo2{
  font-size: 200%;
  color: #F06292;
  font-family: 'Montserrat', sans-serif;
}


.description{
  font-size: 24px;
  margin: 7px;
}



.description2{
  font-size: 24px;
}

.transpose{
  font-size: 30px;
  color: #F06292;
}

.des3{
  font-size: 24px;
}

.titulo3{
  font-size: 200%;
  color: #F06292;
}

.titulo4 {
  font-size: 200%;
  color: #F06292;
}

.tecladoins{
  width: 50%;
}
