*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
  } /*si ponermos el * en vez de body, el logo se modifica*/

  
  /*AQUI EMPIEZA LA NAV BAR*/
  .logo {
    position: absolute;
    z-index: 1;
  }
  
  .logo-nav {
    width:160px;
    height: auto;
    padding-left: 4em; /*Para dar margen izquierdo al logo*/
    margin-top: 8%;
  }
  
  @media screen and (max-width: 768px) {
    .logo {
        display: none; /* Oculta el logo en pantallas más grandes */
    }
  }
  .logo-burger{
    max-width: 100%; /*lo hacemos para evitar que la imagen se desborde*/
  }
  
  .toggle-menu{
    position: absolute;/*Para que pierda su contenido en el flujo con esto ya puedo usar z index*/
    top:0.5rem;
    right: 1.5rem;
    cursor: pointer;
    /*filter: invert(1);  esto es solo si quisiera cambiar de color a blanco el menu hamurguesa*/
    width: 40px;
    z-index: 1;
  }
  
  @media screen and (min-width:768px) {
    .toggle-menu{
        display: none;
    }
  }
  
  .main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#EB4138;
    transition: transform 0.3s; /*Es la mejor forma de animar el ccs, nunca con padding ni margin!*/
    transform: translateY(-100%);
  }
  
  .main-menu--show{
    transform: translateY(0); /*con esto consigo que el menu se quede en el centro*/
  } /*Esta es la clase que vamos a cambiar desde javascript para que se muestre el menu clickando en el menu hamburguesa*/
  
  @media screen and (min-width:768px) {
    .main-menu{
        flex-direction: row;
        justify-content: flex-end;
        transform: translateY(0); /*Esto lo pongo para que semustre mimenu aunque en el modo menu hamburguesa para l movil lo haya ocultado*/
        height: 100px; /*la altura de mi navbar*/
        padding-right: 4em;/* para dar margen derecho a Contacto*/
    }
  }
  
  .main-menu_item{
    padding: 1em;
    font-family: 'Merriweather', serif;
  }
  
  .main-menu_link{
    color:black;
    text-decoration: none;
  }
  
  /*AQUI TERMINA LA NAV BAR*/
/*inicio del nav*/
header {
    background-color: #EB4138;
    color: #050000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:none;
  }
  
  .logo img {
    height: auto; /* Ajusta la altura del logo según tus necesidades */
    max-width: 100px ;
    margin-left: 120px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin-right: 80px;
    font-family:'Merriweather', serif;
  }
  
  nav ul li {
    margin-right: 50px;
  
  
  }
  
  nav a {
    text-decoration: none;
    color: #050505;
  
  }
  
  /* Estilos para adaptar la barra de navegación en dispositivos pequeños (responsive) */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      margin-top: 10px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin-right: 0;
      margin-bottom: px;
    }
  }
  /* FIN NAV BAR */


/* section 1 */
.section-1 {
    display: flex;
    padding: 5%;
    justify-content: space-between;
}

.logo-section-1 {
    display: flex;
    width: 16vw;
    height: 26vh;
}

.left-section-1 {
    display: flex;
    flex-direction: column;
}

.img-musicians {
    width: 50vw;
}

.img-musician {
    width: 16vw;
}

.img-logo {
    color: #050000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.right-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.intro {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: center;
}

.highlight-text {
    color: #FAC348;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.96px;
}

.button-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    flex-shrink: 0;
    box-shadow: 4px 4px 2px 0px #EB4138;
}

.button-cta {
    display: flex;
    color: #000;
    font-family: "Merriweather", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
    padding: 1vw;
}

/* fin section-1 */

/* section 2 */
.section-2 {
    background-color: #F06292;
    display: flex;
    padding: 5%
}

.left-section-2 {
    margin-top: 14%;
    margin-right: 17%;
    width: 30vw;
}

.cards-section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pair-cards-section-2 {
    display: flex; 
    justify-content: space-around;
}

.card-section-2 {
    width: 20vw; 
    margin: 5%;
}

.instrument {
    width: 20vw;
    height: auto;
}

.card-title {
    font-family: "Merriweather", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.7px;
    }

.card-text {
    color: #000;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
}

/* fin section-2 */

/* footer */
footer {
    background-color: #EB4138;
    text-align: center;
    height: 25vh;
}

.social-icons {
    margin-top: 2vh;
}

.hr {
    width: 80%;
    margin: 2% auto;
    color: #FFF;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    color: #FFF;
}


/* media queries */

@media only screen and (max-width: 768px) {

/* section 1 */

.section-1 {
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: space-between;
}

.logo-section-1 {
    display: flex;
    width: 29vw;
    height: auto;
}

.left-section-1 {
    display: flex;
    flex-direction: column;
}

.img-musicians {
    width: 90vw;
}

.img-musician {
    width: 29vw;
}

.img-logo {
    display: flex;
    justify-content: space-between;
}

.right-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.intro {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: center;
}

.highlight-text {
    color: #FAC348;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.96px;
}

.button-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 10vh;
    flex-shrink: 0;
    box-shadow: 4px 4px 2px 0px #EB4138;
    margin-bottom: 10%;
}

.button-cta {
    display: flex;
    color: #000;
    font-family: "Merriweather", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
    padding: 1vw;
}

/* fin section-1 */

/* section 2 */

.section-2 {
    background-color: #F06292;
    display: flex;
    flex-direction: column;
}

.left-section-2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 14%;
    margin-left: 10%;
    width: 45vw;
}

.singer-img {
    width: 45vw;
}

/* cards section-2 */
.cards-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pair-cards-section-2 {
    display: flex; 
    flex-direction: column;

}

.card-section-2 {
    width: 40vw; 
}

.instrument {
    width: 40vw;
    height: auto;
}

.card-title {
    font-family: "Merriweather", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.7px;
    }

.card-text {
    color: #000;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
}

/* fin section-2 */

footer {
    background-color: #EB4138;
}

.copyright {
    font-size: 0.6rem
}

}

