*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
} 

/* NAV BAR */
header {
    background-color: #EB4138;
    color: #050000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:none;
  }
  
  .logo img {
    height: auto; /* Ajusta la altura del logo según tus necesidades */
    max-width: 100px ;
    margin-left: 120px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin-right: 80px;
    font-family:'Merriweather', serif;
  }
  
  nav ul li {
    margin-right: 50px;
 
  }
  
  nav a {
    text-decoration: none;
    color: #050505;
  
  }
  
  /* Estilos para adaptar la barra de navegación en dispositivos pequeños (responsive) */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      margin-top: 10px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
/* FIN NAV BAR */

/* CSS ABOUT US PAGE*/

  .introductory-text {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .palabra-destacada{
    font-weight: bold ;
    color:#FAC348;
    display:flex;
  }
  .sara{
    background-color: #F06292;
    display: flex;
    align-items: 
  }

  .background-rectangle {
  width:600px;
  height:300px;
  background-color: #FAC348;
  z-index: -1; /* Colocar la forma detrás de la imagen */
  }
  .teachers-img {
    max-width:250px;
    height:auto;
    position: relative; /* Asegurarse de que la imagen esté en su posición original */
    z-index: 1; /* Colocar la imagen sobre el fondo */
  }
  .teachers-names {
    font-family: 'Montserrat', sans-serif;
    color: #EB4138;
    display: flex;
    align-content: center;
  }
  .teachers-instrument {
    font-family: 'Merriweather', serif;
    color:#F06292;
    display: flex;
    align-content: center;
  }

  .teacher-description{
    font-family: 'Montserrat', sans-serif;
    margin-left: px;
    margin-right: px;
    padding-top: px;
    padding-bottom: px;
    text-align: center;
  }


/* color rosa#F06292    color amarillo #FAC348*/
/*font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
*/

/* END CSS ABOUT US PAGE*/